.expo/
.yarn/cache/
node_modules/
dist/
npm-debug.*

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa
web-build/

assets/screenshots-ios/
assets/screenshots-android/

.DS_Store/
.vscode/
.idea/

eas.json
ios/
android/